@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$cRed: #ff0000;
$cYellow: #ffff00;
$cGreen: #008000;
$cWhite: #FFFFFF;
$cGris: #918f8f;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: $cYellow;
    font-size: 5rem;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

h2 {
    margin-top: 60px;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

h3 {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.titSomos {
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 18px;
}

.titServicios {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.titImg {
    color: $cWhite;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

hr {
    width: 7%;
    border-color: $cRed;
    margin: 30px auto 50px;
}

.hr2 {
    margin: -15px 0 60px;
}

.centrar {
    text-align: center;
}

.mDown {
    margin-bottom: 60px;
}

.pDown {
    margin-bottom: 20px;
}

/* MENU */
.head_container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    padding-bottom: 10px;
}

.menu__item a:hover {
    border-bottom: 2px solid $cRed;

}

.menu__link {
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;

}

.boton {
    width: 200px;
    height: 46px;
    padding: 0px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid $cRed;
    cursor: pointer;
}

.boton:hover {
    color: $cWhite;
    background-color: $cRed;
}

/* BANNERS */

.bodyImg {
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(41, 24, 21, 0.5), rgba(41, 24, 21, 0.9)), url('./images/buffet-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bodyImg2 {

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(41, 24, 21, 0.5), rgba(41, 24, 21, 0.9)), url('./images/food-table.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* SECTIONS */

.qSomos {
    display: flex;
    gap: 20px;
}

.nServicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.bShadows {
    border: 0.5px solid $cGris;
    box-shadow: 1px 3px 5px 0.5px $cGris;
}

.pCatering {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.paquetes {
    background-color: #f8f8f8;
    padding: 5px 0 50px;
}

.cPack {
    border: 0.3px solid $cGris;
    background-color: $cWhite;
}

.precioPaquetes {
    background-color: #e6e4e4;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.itemPaquete {
    list-style: none;

    li {
        padding: 20px 0;
        border-top: 1px solid #eeecec;
        border-bottom: 1px solid #eeecec;
        text-align: center;
    }

    .checklist {
        font-size: 20px;
        color: $cGreen;
    }
}

.gridCorreo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.fcorreo {
    display: flex;
    flex-direction: column;

    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 600;

    label {
        margin-top: 8px;
        margin-bottom: 1rem;
    }

    input,
    textarea {
        padding: 20px;
        border: 1px solid #cdcdcd;
    }

    input[type="submit"] {
        width: 160px;
        height: 46px;

        margin-top: 20px;

        padding: 0px 20px;
        background-color: $cGreen;
        border-radius: 10px;
        font-size: 1rem;
        color: $cWhite;
        cursor: pointer;
    }
}

.fcorreo:nth-child(4) {
    grid-column: 1/4;
}

/* FOOTER */

.socialMedia {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    background-color: #252525;
    font-size: 35px;
    color: $cWhite;

    a {
        padding: 0;
        color: $cWhite;
    }

}

.hrPie {
    background-color: #252525;

    hr {
        width: 85%;
        border-color: #4e4c4d;
        margin: 0 auto;
    }
}

.firma {
    height: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #252525;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: $cWhite;
}